@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@300;500&family=Roboto:wght@100;300&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; */

.App {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.Nav {
  color: inherit;
  font-family: 'Roboto Slab', serif;
  background-color: white;
}

h1 {
  text-align: right;
  font-family: 'Roboto Slab', serif;
}

h5 {
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  text-align: justify;
}

.material-symbols-outlined {
  font-size: xx-large;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.go-back-button {
  outline: none;
}